# Qt Creator settings
*.pro.user

# Build files 
Makefile
piano-keyboard

# Backup files
*.swp
*~


########

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
